<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>My Portfolio</display-name>

    <!-- Define servlet for the JSP page -->
    <servlet>
        <servlet-name>PortfolioServlet</servlet-name>
        <servlet-class>com.example.PortfolioServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PortfolioServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
